@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

.blue-links a {
  text-decoration: none;
  color: #0095f6;
}

.blue-links a:hover {
  text-decoration: underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .compatible-screen-height {
    height: 100vh;
    height: 100dvh;
  }

  .compatible-screen-min-height {
    min-height: 100vh;
    min-height: 100dvh;
  }
}
